:root {
  --bg-clr: hsl(226.7,11.4%,15.5%);
  
  
  --card-color: #1A1B21;
  --bg-footer: #161619;

  --border-radius: 10px;

  --card-width: 317px;

  --light-clr: #fff;
  --semilight-clr: #DCDCDC;
  --dark-clr: #374151;

  --font-normal: 400;
  --font-semibold: 500;
  --font-bold: 700;

  --text-left: left;
  
  --justify-center: center;

}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--bg-clr);
  font-family: 'Inter';
}

.business-card {
  max-width: var(--card-width);
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  margin-top: 50px;
  overflow: hidden;
  color: var(--text-color);
}

.business-card .profile {
  height: 317px;
}

.business-card .profile-info {
  text-align: var(--justify-center);
  background-color: var(--card-color);
  padding: 21px 35px;
}

.profile-info .name {
  font-size: 25px;
  font-weight: 700;
  margin: 0;
  color: var(--light-clr)
}

.profile-info .position {
  margin-top: 2px;
  margin-bottom: 8px;
  color: #F3BF99;
  font-weight: 400;
  font-size: 12.8px;
}

.profile-info .website {
  margin: 0;
  margin-bottom: 16px;
  color: #f5f5f5;
 
  font-weight: 400;
  font-size: 10.24px;
}

.buttonWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 13px;
  margin-bottom: 33px;
}

.button {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 9px 13px;
  background-color: var(--light-clr);
  color: var(--dark-clr);
  border-radius: 6px;
  justify-content: var(--justify-center);
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  font-weight: var(--font-semibold);
  color: black;
  transition: all ease 0.3s;
}

.button:hover {
  background-color: #5093e2;
}

.button:hover svg path{
  fill: #fff;
}

.button svg {
  height: 16px;
  width: 16px;
  aspect-ratio: 1;
}

.label {
  margin: 0;
  font-weight: var(--font-bold);
  font-size: 16px;
  color: #f5f5f5;
}

.about {
  text-align: left;
  font-weight: var(--font-normal);
  font-size: 10.24px;
  line-height: 15.36px;
  color: var(--semilight-clr);
}

.interest {
  text-align: left;
  font-weight: var(--font-normal);
  font-size: 10.24px;
  line-height: 15.36px;
  color: var(--semilight-clr);
}

.footer {
  display: flex;
  flex-direction: row;
  column-gap: 1.4rem;;
  justify-content: var(--justify-center);
  background: var(--bg-footer);
  padding: 19px;
}

.footer svg {
  height: 25px;
  width: 25px;
  aspect-ratio: 1;
}